.demo-card-wide.mdl-card {
    width: 512px;
}

.filter_card_background {
    color: #fff;
    height: 176px;
    background-image: linear-gradient(to bottom right, rgb(98, 101, 255), rgb(166, 0, 255));
}

.visualize_card_background {
    color: #fff;
    height: 176px;
    background-image: linear-gradient(to bottom right, rgb(255, 204, 102), rgb(255, 102, 0));
}

.ply_card_background {
    color: #fff;
    height: 176px;
    background-image: linear-gradient(to bottom right, rgb(102, 255, 179), rgb(0, 153, 51));
}

.alert_card_background {
    color: #fff;
    height: 176px;
    background-image: linear-gradient(to bottom right, rgb(255, 121, 77), rgb(204, 0, 0));
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
