.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
}

.center1 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: fit-content;
    height: fit-content;
    padding-left: 7%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#fileTable td {
    cursor: pointer;
}
